$blancoFondo: rgba(255, 255, 255, 0.9);
$blancoDifuminado: rgba(255, 255, 255, 0.13);
$azulBotones: rgb(100, 98, 233);
$negroFondo: rgba(0, 0, 0, 0.876);
$negroDifuminado: rgba(0, 0, 0, 0.344);
$messageFondo: #939ba3;
$colorIcono: rgb(165, 159, 159);
$azulTitulo: rgb(31, 31, 116);
$colorIconoOk: rgb(163, 183, 12);
$colorSpinner: rgb(24, 135, 190);
$azulSelected: rgba(103, 96, 124, 0.941);