.caja_albunes {
    margin: 4px auto 0 auto;
    text-align: center;
    height: 73vh;
    overflow-y: auto;
}

.caja_albunes::-webkit-scrollbar {
    -webkit-appearance: none;
}

.caja_albunes::-webkit-scrollbar:vertical {
    width: 8px;
}

.caja_albunes::-webkit-scrollbar-button:increment,
.caja_albunes::-webkit-scrollbar-button {
    display: none;
}

.caja_albunes::-webkit-scrollbar:horizontal {
    height: 10px;
}

.caja_albunes::-webkit-scrollbar-thumb {
    background-color: #562e2e;
    border-radius: 20px;
    border: 2px solid #5680aa;
}

.caja_albunes::-webkit-scrollbar-track {
    border-radius: 8px;
}

.activada {
    margin: auto;
    text-align: center;
    height: 78vh;
    overflow-y: auto;
}


.boton_album:hover {
    border: 4px solid rgba(67, 67, 192, 0.935);
}

.caja_album {
    width: 100%;
    text-align: start;
}

.boton--config {
    margin: 2px auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 2px 8px;
    border: none;
}

.boton--config:hover {
    color: rgba(67, 67, 192, 0.935);
}

.btn--config__album {
    position: relative;
    margin-bottom: 3px;
}

.items {
    list-style: none;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.item {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1px 8px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    border: ;
}

.item>span {
    color: rgba(67, 67, 192, 0.935);
}

.item:hover {
    border: 2px solid rgba(67, 67, 192, 0.935);
}

.btn__close-caja {
    margin: 2px auto;
    text-align: center;
    align-items: center;
}

.btn__close {
    border: none;
    background-color: transparent;
    padding: 1px 3px;
    margin: 0 3px 2px 0;
}
.btn__close:hover{
    color: red;
}

.btn__activo {
    color: rgb(55, 0, 255);
}

.select_label {
    width: 81%;
    display: block;
    text-align: start;
    margin: auto;
    font-weight: bold;
}

.select_album {
    width: 83%;
    display: block;
    text-align: start;
    margin-top: 4px;
    margin: auto;
    height: 25px;
    border: 1px solid rgba(72, 55, 200, .3);
    border-radius: 4px;
    box-shadow: 2px solid red;
    padding-left: 4px;
}

.nombre__album {
    font-weight: bold;
    font-size: 17px;
}

.message__delete {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 25, 29, 0.764);
    z-index: 4;
    align-items: center;
    justify-content: center;
}

.message {
    background-color: white;
    border-radius: 10px;
    width: 40%;
    padding: 10px 30px;
    border: 2px solid rgb(63, 63, 147);
    color: rgb(0, 0, 0);
}