@use 'variables';

.mensajeCierre {
    color: variables.$colorSpinner !important;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.spinner{
    animation: spinners 2s linear infinite;
    color: variables.$colorSpinner !important;
}

@keyframes spinners {
    to{
        transform: rotate(360deg);
    }
}
