@use 'variables';

.mostrar__images {
    position: absolute;
    background-color: variables.$negroFondo;
    width: 100%;
    height: 100vh;
    left: 0%;
    top: 0%;

    & .cerrar {
        position: absolute;
        top: 6%;
        transform: translate(0, -50%);
        right: 1%;
        font-size: 40px;
        font-weight: 700;
    }

    & .icono {
        color: variables.$blancoFondo;
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 2em;
        border: none !important;
        font-weight: bold;
        font-size: 40px;
        font-weight: 700;

        &:hover {
            color: variables.$azulBotones;
            border: 2px solid variables.$blancoFondo;
            background-color: variables.$blancoDifuminado;
        }
    }
}

.main_container {
    width: 100%;
    height: 85vh;
    margin: 20px auto;

    & .icono {
        color: variables.$blancoFondo;
        background-color: transparent;
        padding: 25px 35px;
        border-radius: 2em;
        border: none !important;
        font-weight: bold;
        font-size: 40px;
        font-weight: 700;

        &:hover {
            color: variables.$azulBotones;
            border: 2px solid variables.$blancoFondo;
            background-color: variables.$blancoDifuminado;
        }
    }

    & .prev {
        position: absolute;
        top: 45%;
        transform: translate(0, -50%);
        left: 1%;
        z-index: 3;
    }

    & .next {
        position: absolute;
        top: 45%;
        transform: translate(0, -50%);
        right: 1%;
        z-index: 3;
    }

    & .slider_container {
        position: relative;
        justify-content: center;
        height: 100%;

        & .container_images {
            width: 100%;
            height: 100%;
            text-align: center !important;
            justify-content: center;
            margin: auto !important;
            display: flex;
            overflow: hidden;
            border-radius: 20px;

            & .image__muestra {
                margin: 10px auto;
                max-width: 99%;
                height: 84vh;
                border-radius: 20px;
                border: 2px solid variables.$blancoFondo;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .main_container {
        height: 88vh;

        & .slider_container {
            & .container_images {
                & .image__muestra {
                    height: 87vh;
                }
            }
        }
    }

}

.mostrar__coleccion {
    position: absolute;
    bottom: 8px;
    left: 1%;
    right: 1%;
    max-width: 99%;
    height: 66px;
    display: flex;
    overflow-x: auto;
    background-color: variables.$blancoDifuminado;
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-radius: 20px;

    & .image__contendor {
        margin: 2px auto;
        display: flex;

        & .image__mostrar {
            position: relative;
            height: 45px;
            list-style: none;
            margin: auto 5px;
            // justify-content: center;

            & .coleccion__muestra {
                height: 100%;
                border-radius: 5px;
                border: 1px solid variables.$blancoFondo;

                &:hover {
                    border: 1px solid variables.$azulBotones;
                }
            }

            & .img_activa {
                opacity: 100%;
                border: 1px solid variables.$azulBotones;
            }
        }
    }

}



.mostrar__coleccion::-webkit-scrollbar {
    -webkit-appearance: none;
}

.mostrar__coleccion::-webkit-scrollbar:vertical {
    width: 5px;
}

.mostrar__coleccion::-webkit-scrollbar-button:increment,
.mostrar__coleccion::-webkit-scrollbar-button {
    display: none;
}

.mostrar__coleccion::-webkit-scrollbar:horizontal {
    height: 6px;
}

.mostrar__coleccion::-webkit-scrollbar-thumb {
    background-color: #562e2e;
    border-radius: 10px;
    border: 1px solid #5680aa;
}

.mostrar__coleccion::-webkit-scrollbar-track {
    border-radius: 8px;
}